main {
  background-color: #f5ead0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
}
/* .menu {
  display: flex;
  flex-direction: row;
  gap: 5vh;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: start;
  margin-top: 10%;
  position: fixed;
  bottom: 0;
} */
@media screen and (max-width: 601px) {
  .navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    justify-content: space-around;
  }

  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px;
    text-decoration: none;
    font-size: 2vw;
    height: 100%;
    width: 100%;
  }

  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #04aa6d;
    color: white;
  }

  .imgNavbar {
    width: 50%; /* L'image prend 20% de la largeur du bouton */
    max-width: 100px; /* Taille maximale de l'image */
    height: auto; /* Garde le ratio hauteur/largeur */
  }
}

@media screen and (min-width: 601px) {
  .navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20%;
    justify-content: space-around;
  }

  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px;
    text-decoration: none;
    font-size: 17px;
    height: 100%;
    width: 100%;
  }

  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #04aa6d;
    color: white;
  }

  .imgNavbar {
    width: 30%; /* L'image prend 20% de la largeur du bouton */
    max-width: 25px; /* Taille maximale de l'image */
    height: auto; /* Garde le ratio hauteur/largeur */
  }
}
